.game-selected-question {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background: var(--blue);
    color: white;
    border-radius: 10px;
    box-shadow: var(--shadow);
    min-height: 600px;
    min-width: 750px;
}