.lobby-questions {
    display: flex;
    flex-flow: column;
}

.lobby-questions-list {
    display: flex;
    flex-flow: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    box-shadow: inset 3px 3px 3px var(--gray);
    flex: 1 0 auto;
}

.lobby-questions-list__item {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--gray);
    cursor: pointer;
    transition: var(--transition);
}

.lobby-questions-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.lobby-questions-list__item--selected {
    border: 1px solid var(--blue);
}