.game-categories {
    display: flex;
    flex-flow: column;
    margin: 20px;
    height: 600px;
}

.game-category {
    display: flex;
    flex-flow: row;
}

.game-category__title,
.game-question {
    width: 100px;
    height: 100px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.game-question__question {
    height: 600px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: center;
}

.game-players {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.game-player {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
}

.game-player__name {
    width: 50px;
    height: 50px;
    border-bottom: 1px solid black;
    text-align: center;
}

.game-player__points {
    text-align: center;
    width: 50px;
    height: 50px;
}

.game-player--selected {
    background: rgba(203, 229, 82, 0.5);
}

.game-master {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 100px;
}

.game-master__name {
    text-align: center;
    height: 100px;
}
