.game {
    padding: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.game-participants {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
    min-height: 200px;
}
