.lobby-create-questions-form-add-category {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    margin-top: 20px;
}

.lobby-create-questions-form-add-category .input {
    flex: 1 0 auto;
    margin-right: 10px;
}