.game-player {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 150px;
    transition: var(--transition);
}

.game-player__name {
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.game-player__points {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.game-player--selected {
    border: 1px solid var(--blue);
}