.lobby-games {
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.lobby-games-list {
    display: flex;
    flex-flow: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    box-shadow: inset 3px 3px 3px var(--gray);
    height: 100%;
    overflow: auto;
}

.lobby-games-list__item {
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--gray);
    cursor: pointer;
    transition: var(--transition);
}

.lobby-games-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.lobby-games-list__item--selected {
    border: 1px solid var(--blue);
}

.lobby-games .button {
    margin-top: 15px;
}