.game-categories {
    display: flex;
    flex-flow: column;
    min-height: 600px;
    min-width: 750px;
}

.game-category {
    display: flex;
    flex-flow: row;
}

.game-category__title,
.game-question {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray);
    padding: 20px;
    background: var(--blue);
    color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.game-category__title {
    align-items: flex-start;
    cursor: default;
    width: 250px;
}

.game-question:empty {
    cursor: default;
}

.game-question:not(:empty):hover {
    background: #1542b3;
}